* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #eef5ff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.logo {
    text-align: center;
    animation: logoAnimation 1.5s ease;
}

@keyframes logoAnimation{

    from{
        opacity:0;
        transform:translateY(-50px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}


.logo h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -1px;
    color: #1f2937;
}



.logo span {
    background: linear-gradient(90deg, #2563eb, #06b6d4, #14b8a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.line {
    width: 240px;
    height: 2px;
    margin: 4px auto;
    background: linear-gradient(90deg, #2563eb, #06b6d4, #14b8a6);
    border-radius: 20px;
}


.logo p {
    font-size: 12px;
    font-weight: 500;
    color: #64748b;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.9;
}
